*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: blue;
  
}

h1 {
    color: #000080;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  p {
    padding-left: 20px;
  }

  .logo {
    width: 25%;
    padding: 20px;
    height: 50%;
  }


